body {
   margin: 0 ;
   padding: 0;
   
}
.type1{
    width: 50%;
    display: block;
    margin: 0px auto;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
}
h2{
    
        font-size: 3em;
        color: #e94d58;
        margin: 10px 0; 
        text-align: center; 
    
    
    
}
.btn-group {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
button{
    position: absolute;
    width: 100px;
    height: inherit;
    color: white;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    font-size: 1.2em;
}
button:nth-child(1) {
    margin-left: -250px;
    background: #e94d58; 
}
button:nth-child(2){
    margin-right: -150px;
    background: #e94d58;
}
.gif {
    max-width: 972px;
    height: 256px;
    margin: 10px 0; 
    width: 265px;
}
body{
    background-color: black;
}


